.pagination {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.pagination__arrow {
    width: 40px;
    cursor: pointer;
}

.pagination__arrow img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pagination__numbers {
    display: flex;
}

.pagination__numbers p {
    margin-left: 10px;
    cursor: pointer;
    font-family: 'Sometype Mono', monospace;
    font-size: 20px;
}

.pagination__numbers p:hover {
    transform: scale(1.2);
}