.home {
    background-color: transparent;
    color: #ffffff;
}

.home__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 20px 20px;
    position: relative;
}

.home__title {
    font-family: 'Sometype Mono', monospace;
    font-size: 23px;
    color: inherit;
    margin: 10px 0 20px;
}

.home__head {
    position: relative;
}

.home__color {
    position: absolute;
    border-radius: 50%;
}

.home__color-blue {
    background-color: rgba(2, 82, 230, 0.4);
    top: -20px;
    left: 30px;
    width: 40px;
    height: 40px;
}

.home__color-green {
    background-color: rgba(9, 255, 0, 0.4);
    top: -20px;
    left: 10px;
    width: 55px;
    height: 55px;
}

.home__setting {
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 15px;

}

.home__setting span {
    margin-right: 15px;
}

.home__input {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid #767676;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

.home__desc {
    background-color: transparent;
    border: 1px solid #767676;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

.home__submit {
    font-family: 'Sometype Mono', monospace;
    width: 160px;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ffffff;
    text-align: center;
}

.home__text {
    width: 100%;
    height: 150px;
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #767676;
}

.home__post {
    border: 1px solid #767676;
    border-radius: 10px;
}

.home__topic {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 14px;
    border-bottom: 1px solid #767676;
    cursor: pointer;
}

.home__topic:nth-last-child {
    border-top: none; 
}
