.header {
    position: relative;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__img {
    width: 45px;
}

.header__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__name {
    font-family: 'Rowdies', sans-serif;
    font-size: 30px;
    align-self: self-end;
    margin-left: 12px;
}

.header__btns {
    display: flex;
    align-items: center;
}

.header__btn {
    font-family: 'Sometype Mono', monospace;
    /* width: 150px; */
    font-size: 16px;
    padding: 10px 10px;
    margin-left: 25px;
}

.header__btn-logout {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
}

.menu {
    display: none;
}

@media (max-width: 700px) {
    .menu {
        display: block;
    }

    .header__btns {
        display: none;
    }
}