.header {
    position: relative;
    background-color: #131314;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__img {
    width: 45px;
}

.header__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__name {
    font-family: 'Rowdies', sans-serif;
    font-size: 30px;
    align-self: self-end;
    margin-left: 12px;
    color: #ffffff;
}

.header__btns {
    display: flex;
    align-items: center;
}

.header__btn {
    font-family: 'Sometype Mono', monospace;
    width: 150px;
    font-size: 16px;
    padding: 10px 10px;
    margin-left: 25px;
    border-radius: 10px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
}

.header__btn:hover {
    border: 1px solid #ffffff;
    background-color: #131314;
}

.header__btn-logout {
    background-color: #ffffff;
    color: #000000;
}

.header__btn-logout:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #131314;
}