.acc {
  padding-top: 15px;
  position: relative;
}

.acc__wrapper {
  padding: 15px 0;
}

.acc__titlegroup {
  position: relative;
}

.acc__title {
  font-family: 'Sometype Mono', monospace;
  font-size: 23px;
  margin: 10px 0 20px;
}

.acc__color {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 153, 1, 0.4);
  top: -20px;
  left: 160px;
}

.acc__table {
  border: 1px solid #767676;
  border-radius: 10px;
}

.acc__head,
.acc__lines {
  display: grid;
  grid-template-columns: minmax(150px, 50%) minmax(150px, 20%) minmax(150px, 20%) minmax(150px, 10%);
  ;
  min-width: 100%;
  padding: 10px 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.acc__lines {
  cursor: pointer;
}

.acc__line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.acc__line-btn:hover {
  cursor: pointer;
}

.acc__line-title {
  padding-right: 20px;
}

.acc__head {
  font-weight: 900;
  font-size: 18px;
  border-bottom: 1px solid #767676;
}

.acc__lines:nth-child(even) {
  background: #3a3a3a38;
}