* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

button {
    border: none;
    background-color: transparent;
    font-family: inherit;
}

input {
    border: none;
    background-color: transparent;
}

select {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

/* LIGHT */

#light {
    background-color: #fff;
    color: #000;
}

#dark {
    background-color: #131314;
    color: #fff;
}

#light .home__title,
.acc__row {
    color: #000;
}

#light .public__row {
    color: #000;
}

#light .home__submit,
.header__btn-logout {
    background-color: #000;
    color: #fff;
}

#light .header__btn:hover {
    border: 1px solid #000;
    background-color: #fff;
}

#light .header__btn-logout {
    background-color: #000;
    color: #fff;
}

#light .header__btn-logout:hover {
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
}

#light .toggle__text,
.home__desc {
    color: #000;
}

#light .home__text {
    color: #000;
}

#light .table__line {
    color: #000;
}

#light tr:nth-child(even) td {
    background: #00000018;
}


/* DARK */

#dark .home__submit {
    color: #000;
    background-color: #fff;
}

#dark .home__submit:hover {
    background-color: #fff;
    color: #ff00bf66;
    cursor: pointer;
    filter: drop-shadow(6px 6px 0 #ff00bf66);
}

#dark .home__input {
    color: #fff;
    background-color: #131314;
}

#dark .home__desc,
.home__text {
    color: #fff;
}

#dark .acc__row,
.public__row {
    color: #fff;
}

#dark .table__line {
    color: #fff;
}

#dark tr:nth-child(even) td {
    background: #ffffff0c;
}


/* font-family: 'Indie Flower', cursive; для подписей подсказок
  font-family: 'Lato', sans-serif; основной обычный
  font-family: 'Rowdies', sans-serif; лого
  font-family: 'Sometype Mono', monospace; * для заголовков */